#menu-c .navbar-toggler {
  color: #000;
}
#msg-box3-b .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#image2-8 DIV {
  color: #ffffff;
}
#menu-c .navbar-toggler {
  color: #000;
}
#menu-d .navbar-toggler {
  color: #000;
}
#menu-j .navbar-toggler {
  color: #000;
}
#menu-n .navbar-toggler {
  color: #000;
}
